<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID">
  <display-name>E-learning</display-name>
  <servlet>
    <description></description>
    <display-name>Loginas</display-name>
    <servlet-name>Loginas</servlet-name>
    <servlet-class>Loginas</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FileUploadDBServlet</display-name>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>net.codejava.upload.FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>vchat</display-name>
    <servlet-name>vchat</servlet-name>
    <servlet-class>vchat</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>reloaddata</display-name>
    <servlet-name>reloaddata</servlet-name>
    <servlet-class>reloaddata</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyUploadFile</display-name>
    <servlet-name>FacultyUploadFile</servlet-name>
    <servlet-class>FacultyUploadFile</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyUploadResults</display-name>
    <servlet-name>FacultyUploadResults</servlet-name>
    <servlet-class>FacultyUploadResults</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyViewFile</display-name>
    <servlet-name>FacultyViewFile</servlet-name>
    <servlet-class>FacultyViewFile</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyUploadAssignment</display-name>
    <servlet-name>FacultyUploadAssignment</servlet-name>
    <servlet-class>FacultyUploadAssignment</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyAssignUploadResults</display-name>
    <servlet-name>FacultyAssignUploadResults</servlet-name>
    <servlet-class>FacultyAssignUploadResults</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyAddQuiz</display-name>
    <servlet-name>FacultyAddQuiz</servlet-name>
    <servlet-class>FacultyAddQuiz</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>StudentUploadAssignment</display-name>
    <servlet-name>StudentUploadAssignment</servlet-name>
    <servlet-class>StudentUploadAssignment</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>StudentUpdateAssignment</display-name>
    <servlet-name>StudentUpdateAssignment</servlet-name>
    <servlet-class>StudentUpdateAssignment</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyViewAssignment</display-name>
    <servlet-name>FacultyViewAssignment</servlet-name>
    <servlet-class>FacultyViewAssignment</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SFvchat</display-name>
    <servlet-name>SFvchat</servlet-name>
    <servlet-class>SFvchat</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Allvchat</display-name>
    <servlet-name>Allvchat</servlet-name>
    <servlet-class>Allvchat</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Allgroupchat</display-name>
    <servlet-name>Allgroupchat</servlet-name>
    <servlet-class>Allgroupchat</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CollegeAdminPicUpload</display-name>
    <servlet-name>CollegeAdminPicUpload</servlet-name>
    <servlet-class>CollegeAdminPicUpload</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>StudentPicUpload</display-name>
    <servlet-name>StudentPicUpload</servlet-name>
    <servlet-class>StudentPicUpload</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyPicUpload</display-name>
    <servlet-name>FacultyPicUpload</servlet-name>
    <servlet-class>FacultyPicUpload</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditCourse</display-name>
    <servlet-name>EditCourse</servlet-name>
    <servlet-class>EditCourse</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UploadToDBServlet</display-name>
    <servlet-name>UploadToDBServlet</servlet-name>
    <servlet-class>UploadToDBServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyEditAssignment</display-name>
    <servlet-name>FacultyEditAssignment</servlet-name>
    <servlet-class>FacultyEditAssignment</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyViewAssignmenfile</display-name>
    <servlet-name>FacultyViewAssignmenfile</servlet-name>
    <servlet-class>FacultyViewAssignmenfile</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyEditQuiz</display-name>
    <servlet-name>FacultyEditQuiz</servlet-name>
    <servlet-class>FacultyEditQuiz</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FacultyAddQuiz1</display-name>
    <servlet-name>FacultyAddQuiz1</servlet-name>
    <servlet-class>FacultyAddQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginas</servlet-name>
    <url-pattern>/Loginas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>vchat</servlet-name>
    <url-pattern>/vchat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reloaddata</servlet-name>
    <url-pattern>/reloaddata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyUploadFile</servlet-name>
    <url-pattern>/FacultyUploadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyUploadResults</servlet-name>
    <url-pattern>/FacultyUploadResults</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyViewFile</servlet-name>
    <url-pattern>/FacultyViewFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyUploadAssignment</servlet-name>
    <url-pattern>/FacultyUploadAssignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyAssignUploadResults</servlet-name>
    <url-pattern>/FacultyAssignUploadResults</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyAddQuiz</servlet-name>
    <url-pattern>/FacultyAddQuiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentUploadAssignment</servlet-name>
    <url-pattern>/StudentUploadAssignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentUpdateAssignment</servlet-name>
    <url-pattern>/StudentUpdateAssignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyViewAssignment</servlet-name>
    <url-pattern>/FacultyViewAssignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SFvchat</servlet-name>
    <url-pattern>/SFvchat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Allvchat</servlet-name>
    <url-pattern>/Allvchat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Allgroupchat</servlet-name>
    <url-pattern>/Allgroupchat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollegeAdminPicUpload</servlet-name>
    <url-pattern>/CollegeAdminPicUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentPicUpload</servlet-name>
    <url-pattern>/StudentPicUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyPicUpload</servlet-name>
    <url-pattern>/FacultyPicUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditCourse</servlet-name>
    <url-pattern>/EditCourse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadToDBServlet</servlet-name>
    <url-pattern>/UploadToDBServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyEditAssignment</servlet-name>
    <url-pattern>/FacultyEditAssignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyViewAssignmenfile</servlet-name>
    <url-pattern>/FacultyViewAssignmenfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyEditQuiz</servlet-name>
    <url-pattern>/FacultyEditQuiz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacultyAddQuiz1</servlet-name>
    <url-pattern>/FacultyAddQuiz1</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>